####################################
# Gradle
####################################
.gradle/
build/
**/build/

####################################
# Local configuration
####################################
local.properties
keystore.properties

####################################
# Signing keys (NEVER COMMIT)
####################################
*.jks
*.keystore

####################################
# Android Studio / IntelliJ IDEA
####################################
.idea/
*.iml
*.ipr
*.iws
out/

####################################
# Android Studio captures
####################################
captures/

####################################
# Log files
####################################
*.log

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# NDK / CMake
####################################
.externalNativeBuild/
.cxx/

####################################
# Kotlin
####################################
.kotlin/

####################################
# Temporary files
####################################
*.swp
*.tmp
*.bak

####################################
# Fastlane (if added later)
####################################
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

####################################
# Firebase / Google services (optional)
####################################
# google-services.json

####################################
# VS Code (if used)
####################################
.vscode/


####################################
# Misc
####################################
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
/my-release-key.base64
